body {
	background-color: #555;
	margin: 0;

	}
	#header {
	background-color: #1abc9c;
	height: 150px;
	}
	#header-title {
		display: block;
		float: left;
	}
	#header-nav {
		display: block;
		float: right;
	}
	#header-nav {
		display:inline;
	}
	a {
		font-style: italic;
	